<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add city</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="/css/vendor.css" rel="stylesheet">
</head>
<body>

{% include "shared/navbar" %}

<section class="section">
    <div class="container">
        <h1 class="title">Create city</h1>

        <div class="card">
            <turbo-frame id="add-city">
                {% include "frames/add-city" %}
            </turbo-frame>
        </div>
    </div>
</section>

{% include "shared/footer" %}

<script type="module" src="/js/index.js" async="" defer=""></script>


</body>
</html>
