<div class="panel-block">
    <div class="columns">
        <div class="column">
            <div class="field has-addons">
                <p class="control">
                    <button class="control button" [class.is-info]="degree === 'C'" (click)="degree = 'C'">C°</button>
                </p>
                <p class="control">
                    <button class="control button" [class.is-info]="degree === 'F'" (click)="degree = 'F'">F°</button>
                </p>
            </div>
        </div>
        <div class="column">
            <div class="field has-addons">
                <p class="control">
                    <a class="button {{mode == 'simple' ? 'is-info' : ''}}"
                       href="/frames/city/{{city.name}}/weather-daily" data-turbo-frame="city_weather">
                        Simple
                    </a>
                </p>
                <p class="control">
                    <a class="button {{mode == 'detailed' ? 'is-info' : ''}}"
                       href="/frames/city/{{city.name}}/weather-hourly" data-turbo-frame="city_weather">
                        Detailed
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
